<%- include ("partials/header") -%>

<section id="banner"></section>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <section id="posts">
                <div class="post">
                    <h4>Monday, August 17, 2020</h4>
                    <h3>Recipe Headline</h3>
                    <img src="https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_960_720.jpg" alt="Tomatoes, Broccoli, and Peppers" class="img-thumbnail" />
                    <p>He then told her of Georgiana’s delight in her acquaintance, and of her disappointment at its sudden interruption; which naturally leading to the cause of that interruption, she soon learnt that his resolution of following her from Derbyshire in quest of her sister had been formed before he quitted the inn, and that his gravity and thoughtfulness there had arisen from no other struggles than what such a purpose must comprehend.</p>
                    <a href="#">Read More >></a>
                </div>

                <div class="post">
                    <h4>Monday, August 17, 2020</h4>
                    <h3>Recipe Headline</h3>
                    <img src="https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_960_720.jpg" alt="Tomatoes, Broccoli, and Peppers" class="img-thumbnail" />
                    <p>He then told her of Georgiana’s delight in her acquaintance, and of her disappointment at its sudden interruption; which naturally leading to the cause of that interruption, she soon learnt that his resolution of following her from Derbyshire in quest of her sister had been formed before he quitted the inn, and that his gravity and thoughtfulness there had arisen from no other struggles than what such a purpose must comprehend.</p>
                    <a href="#">Read More >></a>
                </div>

                <div class="post">
                    <h4>Monday, August 17, 2020</h4>
                    <h3>Recipe Headline</h3>
                    <img src="https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_960_720.jpg" alt="Tomatoes, Broccoli, and Peppers" class="img-thumbnail" />
                    <p>He then told her of Georgiana’s delight in her acquaintance, and of her disappointment at its sudden interruption; which naturally leading to the cause of that interruption, she soon learnt that his resolution of following her from Derbyshire in quest of her sister had been formed before he quitted the inn, and that his gravity and thoughtfulness there had arisen from no other struggles than what such a purpose must comprehend.</p>
                    <a href="#">Read More >></a>
                </div>

                <div class="post">
                    <h4>Monday, August 17, 2020</h4>
                    <h3>Recipe Headline</h3>
                    <img src="https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_960_720.jpg" alt="Tomatoes, Broccoli, and Peppers" class="img-thumbnail" />
                    <p>He then told her of Georgiana’s delight in her acquaintance, and of her disappointment at its sudden interruption; which naturally leading to the cause of that interruption, she soon learnt that his resolution of following her from Derbyshire in quest of her sister had been formed before he quitted the inn, and that his gravity and thoughtfulness there had arisen from no other struggles than what such a purpose must comprehend.</p>
                    <a href="#">Read More >></a>
                </div>

                <div class="post">
                    <h4>Monday, August 17, 2020</h4>
                    <h3>Recipe Headline</h3>
                    <img src="https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_960_720.jpg" alt="Tomatoes, Broccoli, and Peppers" class="img-thumbnail" />
                    <p>He then told her of Georgiana’s delight in her acquaintance, and of her disappointment at its sudden interruption; which naturally leading to the cause of that interruption, she soon learnt that his resolution of following her from Derbyshire in quest of her sister had been formed before he quitted the inn, and that his gravity and thoughtfulness there had arisen from no other struggles than what such a purpose must comprehend.</p>
                    <a href="#">Read More >></a>
                </div>
            </section>
        </div>
        
        <div class="col-sm-12 col-md-4 col-lg-4">
            <section id="sidebar">
                <div class="about">
                    <h3 class="text-center">Tiana's Palace</h3>
                    <p>He then told her of Georgiana’s delight in her acquaintance, and of her disappointment at its sudden interruption; which naturally leading to the cause of that interruption, she soon learnt that his resolution of following her from Derbyshire in quest of her sister had been formed before he quitted the inn, and that his gravity and thoughtfulness there had arisen from no other struggles than what such a purpose must comprehend.</p>
                </div>

                <div class="search">
                    <h3 class="text-center">Search</h3>
                    <form>
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-lg-7">
                                <input type="search" class="form-control form-group" placeholder="search">
                            </div>

                            <div class="col-sm-12 col-md-5 col-lg-5">
                                <input type="button" class="form-control form-group btn btn-block btn-info" value="Search">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="menu">
                    <h3 class="text-center">Menu</h3>
                </div>

                <div class="categories">
                    <h3 class="text-center">Categories</h3>
                    <ul>
                        <li><a href="#">Recipes</a></li>
                        <li><a href="#">Announcements</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Interviews</a></li>
                    </ul>
                </div>

                <div class="shop">
                    <h3 class="text-center">Visit our shop</h3>
                </div>
            </section>
        </div>
    </div>
</div>


<%- include ("partials/footer") -%>